* {
  font-family: 'Raleway';
}

.jumbotron {
  margin-bottom: 0 !important;
  position: relative;
  padding-top: 0px;
  margin-top: 0 !important;
  padding-bottom: 0px !important;
}
.navbar,.footer,.navbar-brand {
  color: white !important;
}
.navbar {
  margin-bottom: 0;
  margin-top: 0px !important;
  background-color: #006489;
}



.top-logo {
  margin-left: 15px;
  padding: 15px 15px;
}

.logo {
  font-family: 'Indie Flower';
  font-size: 3.2em;
  padding-bottom: 0 !important;
  margin-bottom: 0px;
}
.desc {
  margin-top: -10px;
  margin-bottom: 10px;
}
.item  img {
    display: block;
    margin: 0 auto;
    max-height: 527px;
}

.right {
  float: right;
}

#courses {
  paddng-top: 30px;
}

#header {
    position: relative;
}

#logo {
    position: absolute;
    bottom: 0;
    height: 200px;
}

#callUs{
  color: #006489;
  font-weight: bold;
}

.navbar-toggle {
  background-color: rgb(274,174,114)!important;
}

nav {
  z-index: 10;
  width: 100%;
}
.icon-bar {
  background-color: black;
}



.item img { /*centers image in carousel */
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 600px;
}
#courses,#testimonials {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}
.footer {
   background-color: #006489;
   padding: 1.4em;
   color: white;
}
.footer ul {
  margin-right: 5px;
}
li a {
  color: white;
}
